/*Custom Demo & Download Button*/

.btn{list-style:none;text-align:center;margin:10px!important;padding:10px!important;font-size:14px;clear:both;display:inline-block;text-decoration:none!important;color:#FFF!important}
.btn ul {margin:0;padding:0}
.btn li{display:inline;margin:5px;padding:0;list-style:none;}
.demo,.download{padding:12px 15px!important;color:#fff!important;font-weight:700;font-size:14px;font-family:Open Sans,sans-serif;text-align:center;text-transform:uppercase;border-radius:3px;opacity:.95;border:0;letter-spacing:2px;transition:all .2s ease-out}
.demo {background-color:#3498DB;}
.download {background-color:#1ABC84;}
.demo:hover {background-color:#60B8F4;color:#fff;border-bottom:2px solid #3498DB; opacity:1;}
.download:hover {background-color:#49DDAA;color:#fff;border-bottom:2px solid #1ABC84;opacity:1;}
.demo:before {content:&#39;\f135&#39;;display:inline-block;font-weight:normal;vertical-align:top;margin-right:10px;width:16px;height:16px;line-height:24px;font-family:fontawesome;transition:all 0.5s ease-out;}
.download:before {content:&#39;\f019&#39;;display:inline-block;font-weight:normal;vertical-align:top;margin-right:10px;width:16px;height:16px;line-height:24px;font-family:fontawesome;transition:all 0.5s ease-out;}

/*end*/

/* Simple table Css 
table.app {
  border-collapse: collapse;
  width: 100%;
}
​
th.name, td.des {
  text-align: left;
  padding: 8px;
}
​
tr:nth-child(even) {background-color: #f2f2f2;}
  END */

/* table css*/
.post-body table td,.post-body table caption{border:1px solid #e9e9e9;padding:5px 10px;text-align:conter;vertical-align:middle}
.post-body table th{border:1px solid #e9e9e9;padding:10px;text-align:conter;vertical-align:middle}
.post-body table.tr-caption-container{border:1px solid #e9e9e9}
.post-body table caption{border:none;font-style:italic}
.post-body td,.post-body th{vertical-align:middle;text-align:center;padding:3px 5px}
.post-body table tr:nth-child(even) > td{background-color:#f9f9f9}
.post-body table tr:nth-child(even) > td:hover{background-color:#fbfbfb}
.post-body th{background:#fff;font-weight:400;text-transform:uppercase;vertical-align:middle;text-align:center}
.post-body th:hover{background:#fdfdfd}
.post-body td a{color:green;padding:0 6px;float:right;display:inline-block;border-radius:3px}
.post-body td a:hover{color:#7f9bdf;border-color:#adbce0}
.post-body td a[target="_blank"]:after{margin-left:5px}
.post-body table.tr-caption-container td{border:none;padding:8px}
.post-body table.tr-caption-container,.post-body table.tr-caption-container img,.post-body img{max-width:100%;height:auto}
.post-body td.tr-caption{padding:0 8px 8px!important}

img{max-width:100%;height:auto;border:none}
table{max-width:100%;width:100%;margin:1.5em auto}
table.section-columns td.first.columns-cell{border-left:none}
table.section-columns{border:none;table-layout:fixed;width:100%;position:relative}
table.columns-2 td.columns-cell{width:50%}
table.columns-3 td.columns-cell{width:33.33%}
table.columns-4 td.columns-cell{width:25%}
table.section-columns td.columns-cell{vertical-align:top}
table.tr-caption-container{padding:4px;margin-bottom:.5em}

